.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #ff868e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: background-color 500ms;
}

.btn:hover {
    background: #fbe0dc;
    cursor: pointer;
}
