.App {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 30px;
    background: #f8f8f7;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
}

.content {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    background: #FBE0DC;
    border-radius: 20px;
    padding: 20px;
}
