.panel-item-card {
    width: 138px;
}

.item-preview {
    width: 100%;
    height: 198px;
    margin-bottom: 10px;
    border: 4px solid #ffffff;
    border-radius: 20px;
}

.purple {
    border-color: rgba(255, 255, 255, 0.6);
    background: #b4b7ff url('../../images/watch-list.png') no-repeat center;
}

.green {
    border-color: rgba(255, 255, 255, 0.6);
    background: #97eab9;
}

.yellow {
    border-color: rgba(255, 255, 255, 0.6);
    background: #ffd280;
}

.tomato {
    border-color: #fbe0dc;
    background: #ff868e;
}
